.storeTable {
    position: absolute;
    width:100%;
    left:0;
}
.table {
    border-radius: 5px;
    /* width: 50%; */
    margin: 0px auto;
    float: none;
}
.selectRow {
    background-color: #ececec;
}
.toggle {
    display:none;
}
.toggle2 {
    display:block;
}
i {
    width:100%;
    text-align:center;
}