.storeTable {
    position: absolute;
    width:100%;
    left:0;
}
table {
    font-size: 13px;
    table-layout: fixed;
    word-break: break-all;
}
@media only screen and (max-width: 765px) {
    table {
        word-break: unset;
    }
}
i {
    width:100%;
    text-align:center;
}